body {
    font-family: Arial;
    margin: 0;
    letter-spacing: 2px;
    background-color: #3f3f3f;

}
.flex-container {
    display: flex;
    flex-direction: column;
  }

  .navbar {
      text-transform: uppercase;
      background-color: black;
      color: #ece5e5;
      text-align: center;
      line-height: 50px;
      height: 50px;

  }

  .navbar a {
      color: #cac6c6;
      text-decoration: none;
      font-weight: bold;
      font-size: 20;
  }

.navbar a:hover {
    background: red;
    background: -webkit-linear-gradient(left,red, orange , yellow, green, cyan, blue, violet);
    background: -o-linear-gradient(right, red,orange, yellow, green, cyan, blue, violet);
    background: -moz-linear-gradient(right,red, orange, yellow, green, cyan, blue, violet);
    background: linear-gradient(to right,red, orange , yellow, green, cyan, blue, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Comic Sans MS"; 
}

.head {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #f4f4f4;
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;  
    height: auto;


}
